<!DOCTYPE html>
<html>
<head>
	<title></title>



	{% load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">


	{% load static%}
	<link href=" {% static '/bootstrap/css/bootstrap.css'%}" rel="stylesheet">


</head>
<body>


<div id="leftPanelDiv2" class="split left ">
	<form>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="inputEmail4">Nombre</label>
	      <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre">
	    </div>
	    <div class="form-group col-md-6">
	      <label for="inputPassword4">Apellido</label>
	      <input type="password" class="form-control" id="inputPassword4" placeholder="Apellido">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputAddress">Address</label>
	    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
	  </div>
	  <div class="form-group">
	    <label for="inputAddress2">Address 2</label>
	    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
	  </div>
	  <div class="form-row">
	    <div class="form-group col-md-6">
	      <label for="inputCity">Edad</label>
	      <input type="text" class="form-control" id="inputCity">
	    </div>
	    <div class="form-group col-md-4">
	      <label for="inputState">Genero</label>
	      <select id="inputState" class="form-control">
	        <option selected>Choose...</option>
	        <option>M</option>
	        <option>F</option>
	      </select>
	    </div>
	    <div class="form-group col-md-2">
	      <label for="inputZip">Zip</label>
	      <input type="text" class="form-control" id="inputZip">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="form-check">
	      <input class="form-check-input" type="checkbox" id="gridCheck">
	      <label class="form-check-label" for="gridCheck">
	        Check me out
	      </label>
	    </div>
	    <div class="form-check">
	      <input class="form-check-input" type="checkbox" id="gridCheck">
	      <label class="form-check-label" for="gridCheck">
	        Check me out
	      </label>
	    </div>
	    <div class="form-check">
	      <input class="form-check-input" type="checkbox" id="gridCheck">
	      <label class="form-check-label" for="gridCheck">
	        Check me out
	      </label>
	    </div>
	    <div class="form-check">
	      <input class="form-check-input" type="checkbox" id="gridCheck">
	      <label class="form-check-label" for="gridCheck">
	        Check me out
	      </label>
	    </div>
	  </div>
	  <button type="submit" class="btn btn-primary">Sign in</button>
	</form>

</div>

</body>
</html>